<h1>Fill your details</h1>
<%= form_with model: @booking,method: :post,html:{"data-turbo" => false} do |form| %>
 <%x=1%>

 <%=form.fields_for :passangers do |f|%>
  <div> 
 
    <%= "Passenger #{x}" %><br />
   <%=f.label :name%>
   <%=f.text_field :name%>
   </div>

<div>
   <%=f.label :email%>
   <%=f.text_field :email%>
   
</div>
<%x+=1%>
<%end%>
<%= form.hidden_field :flight_id, value: params[:flight_id] %>

<%=form.submit "Search" %>

<% end %>

  


