
<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="title">
          Trip summary
        </h1>
        <h2 class="subtitle">
     
         <%= @booking.flight.flight_date.strftime('%d %B %Y') %>
        </h2>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Departure</th>
              <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @booking.flight.departure_airport.airport_name%> <%= @booking.flight.flight_date.strftime('%H:%M') %></td>
              <td><%= @booking.flight.arrival_airport.airport_name %> <%= (@booking.flight.flight_date + (@booking.flight.flight_duration/60).to_i.hours).strftime('%H:%M') %></td>
            </tr>
          </tbody>
        </table>

         <h1 class="title">
          Passenger details
        </h1>
        <table class="table is-fullwidth has-text-left">
          <thead>
            <tr>
              <th>Passenger name</th>
            </tr>
          </thead>
          <tbody>
          <% @booking.passangers.each_with_index do |passenger, idx| %>
            <tr>
              <td><%= passenger.name %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
  
        <h1 class="title">
          Contact details
        </h1>
        <table class="table is-fullwidth has-text-left">
          <thead>
            <tr>
              <th>Passenger name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
          <% @booking.passangers.each_with_index do |passenger, idx| %>
            <tr>
              <td><%= passenger.name %></td>
              <td><%= passenger.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
  
        <%= link_to 'Book more flights', root_path, class: "button is-large is-dark is-outlined" %>

      </div>
    </div>
  </div>



      
  
       

      </div>
    </div>
  </div>
</section>
  









<!--
<%x=1%>
<% @booking.passangers.each do |f| %>

<h5><%= "   #{x} Passenger" %></h5>
<h6>Name: <%=f.name%></h6>
 
 <h6>Email: <%=f.email%></h6>
 
 <%x= x+ 1%>
<%end%>
<br>
<section>
 <%= link_to 'Book more flights', root_path, class: "button is-large is-dark is-outlined" %>
</section>
-->